@import '../../styles/variables.scss';

.remove_wallet_container {
    width: 300px;
    height: 150px;
    // border-radius: 1rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    border-width: 3px;
    border-style: solid;
    // opacity: 50%;
    background-color: rgba(36, 27, 34, 0.342);
}

.modal_box {
    position: absolute;
    display: flex;
    flex-direction: column;
}

.modal_box h2 {
    font-size: 1rem;
    font-weight: 400;
}

.button_box {
    display: flex;
    justify-content: center;
    gap: 1rem;
}
